.search-button {
    background: #f65161;
    color: white;
    font-size: large;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    border-color: transparent;
    border-radius: 3px;
  }