.search-icon-button {
  position: absolute;
  right: 5%;
  width: 36px;
  height: 36px;
  border-color: transparent;
  background: no-repeat url(../../assets/images/search-icon.png);
  background-size: cover;
}
