.add-movie-button {
    background: #555555;
    color: #f65161;
    font-size: large;
    font-weight: 700;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    height: 40px;
    float: right;
    margin-right: 70px;
    margin-top: 10px;
    border-color: transparent;
    border-radius: 3px;
    opacity: 0.8;
  }