.search-bar {
    background: rgba(46, 46, 46, 0.877);
    color: white;
    font-size: medium;
    z-index: 1;
    letter-spacing: 1px;
    width: 700px;
    height: 43px;
    border-color: transparent;
  }