.edit-movie {
  &-label {
    color: #f65161;
    font-size: large;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 15px 0;
    letter-spacing: 1px;
  }

  &-footer {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
  }

  &-left-button {
    background: #232323;
    color: #f65161;
    font-size: large;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    height: 53px;
    margin-left: 10px;
    border-color: #f65161;
    border-radius: 3px;
  }

  &-right-button {
    background: #f65161;
    color: white;
    font-size: large;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    height: 53px;
    margin-left: 10px;
    border-color: transparent;
    border-radius: 3px;
    margin-left: 15px;
  }

  &-edit-id {
    color: #ffffffc9;
    font-size: large;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }

  &-input {
    background: #2e2e2e;
    color: #ffffffc9;
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    height: 50px;
    border: none;
    padding: 0 15px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
}

input[type="date"] {
  color: #555555;
}
