.delete-movie {
  &-text {
  margin-top: 15px;
  color: #ffffffc9;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  }

  &-footer {
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
  }

  &-right-button {
    background: #f65161;
    color: white;
    font-size: large;
    z-index: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    height: 53px;
    margin-left: 10px;
    border-color: transparent;
    border-radius: 3px;
    margin-left: 15px;
  }
}
